# Python Virtual Environments
venv/
.venv/
env/
bin/
lib/
include/
pyvenv.cfg

# Rust / Cargo
/rust_bot/target/
Cargo.lock

# SQLite Database
data/*.db

# Environment Secrets
.env

# OS specific
.DS_Store
Thumbs.db